* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Quicksand", sans-serif;
}

::selection {
  background-color: transparent;
}

.screen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060a1f;
}

.part-1 {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
}

.part-2 {
  background-color: burlywood;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hours {
  text-align: center;
}

.minutes {
  text-align: center;
}

h1 {
  font-size: 200px;
  text-shadow: 1px 1px 10px #000;
  background-color: burlywood;
  padding: 20px 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h2 {
  font-size: 500px;
  text-shadow: 1px 1px 10px #000;
}

p {
  font-size: 30px;
  text-shadow: 1px 1px 10px #000;
  background-color: burlywood;
  padding: 20px 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
